<!DOCTYPE html>
<html>
    <head>
        <title>Vuejs tp list de course</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Liste des courses</h1>
        <div id="app">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Budget</span>
                </div>
                <input v-bind:style="bgc" type="number" class="w-25 form-control" v-model="budget" @change="editBudget">
                <div class="input-group-append">
                    <span class="input-group-text">€</span>
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                    <input v-model="element" type="text" class="w-25" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" @click="addList">Ajouter</button>
                    </div>
                </div>
            </div>
            <div>
                <list :items='listProduct' class="mt-3"></list>
            </div>
            <div>
                Total : {{ total }}
            </div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="web/js/app.js"></script>
    </body>
</html>